<p class="title" style="margin-bottom: 0;">Key Dates</p>

<ul>
    <li style="padding-bottom: 1em;">
    <li>Paper, Demo, &amp; Poster Submissions</li>
    <li class="has-text-weight-bold" style="text-decoration: line-through;">January 24, 2025 AoE&nbsp;<a href="https://time.is/Anywhere_on_Earth" target="_blank"><span class="icon"><i class="fas fa-clock"></i></span></a></li>
    <li style="padding-bottom: 1em;">
    <li>Acceptance Notifications</li>
    <li class="has-text-weight-bold" style="text-decoration: line-through;">February 10, 2025</li>
    <li style="padding-bottom: 1em;">
    <li>Camera-Ready Submissions</li>
    <li class="has-text-weight-bold" style="text-decoration: line-through;">February 25, 2025</li>
    <li style="padding-bottom: 1em;">
    <li>Workshop Date</li>
    <li class="has-text-weight-bold">March 24, 2025</li>
</div>
