---
---

// set the primary color to black; this is used for the top navbar
// keep this the same every year
$primary: #000000;

// set the text color of navbar items to be white so it's readable
$navbar-item-color: #FFFFFF;
$navbar-background-color: #222222;

// Import Main CSS file from theme
@import "main";

// override the text color on the hero image so it's readable
.hero.is-primary .title, .hero.is-primary .subtitle {
    color: rgb(255, 255, 255);
}

// maintain spacing between organizer blocks
.columns:not(:last-child) {
    margin-bottom: 2rem;
}
